body {
  background-color: black;
  }

.circle1{
  width: 200px;
  height: 200px;
  margin: 100px auto;
  /* border-radius: 50%; */
  background-color: white;

  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.square-r {
  width: 100px;
  height: 100px;
  margin: 100px auto;
  background-color: red;

  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes spin {
  from {
    transform: rotate(0deg);}

    25% {
      background-color: white;
    }
  to {
    transform: rotate(360deg);
  }
}

.circle2 {
  width: 200px;
  height: 200px;
  margin: 100px auto;
  /* border-radius: 50%; */
  background-color: white;

  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
